*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(tiledbackground.jpg);

}
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(tiledbackground.jpg);

}


.illustration{
   width: 1800px;
    position: relative;
    
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    left: 20px;
    padding-top: 10px;
}

header ul{
    position: relative;
    display: flex;

}

header ul li{
    list-style: none;
    
}

header ul li a{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    text-shadow: #391913 5px 5px 5px;
    
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.content1{
    margin-top: 10%;
    max-width: 600px;
    display: block;
 
    
}



h2{
    color: #fff;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
    text-shadow: #2d120e 5px 5px 5px;
}

p{
    color: #fff;
    text-shadow: #180a08 5px 5px 5px;
}




.content .aboutimgbox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;    
    padding: 30px;
}

.content .aboutimgbox img{
    max-width: 400px;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
      
    border-radius: 20px;  
}

.content .abouttextbox{
    position: relative;
    max-width: 600px;
    padding-right: 40px;
    padding-left: 30px;
    padding-top: 180px;

}

.carousel {
     /* background: #FAFAFA;  */
     /* position: relative; */
     width: 100%;
     min-height: 100vh;
     padding: 100px;
     /* display: flex; */
     
     align-items: center;
     
  }
  
  .carousel-cell {
    width: 66%;
    height: 600px;
    margin-right: 30px;
    /* background: #e2d1a9; */
  }
  
  .carousel-cell-image {
    display: block;
    max-height: 100%;
    margin: 0 auto;
    max-width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
            transition: opacity 0.4s;
  }
  
  /* fade in lazy loaded image */
  .carousel-cell-image.flickity-lazyloaded,
  .carousel-cell-image.flickity-lazyerror {
    opacity: 1;
  }
  
  .row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
    margin-left: 50px;

}
.card{
    width: 400px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 20px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 30px 30px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    text-align: center;

}
.card1{
    margin-left: 30px;
    
    background-image: url(assets/card1.jpg);
}
.card2{
     
    background-image: url(assets/card4.jpg);
}
.card3{
    margin-left: 30px;
    background-image: url(assets/card2.jpg);
}
.card4{
    background-image: url(assets/card3.jpg);
}

.card:hover{
    transform: translateY(-10px);

}

h5{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;

}